<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Limits app visibility in the Google Play Store to ARCore supported devices
         (https://developers.google.com/ar/devices). -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMobileFinalProject">
        <activity
            android:name=".SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CreateAccountActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity" />

        <activity
            android:name=".AccountSettingsActivity" />

        <activity
            android:name=".FavoriteFurn" />

        <activity
            android:name=".ArViewActivity" />


        <activity
            android:name=".SavedLayoutsActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity" />

        <!-- "AR Required" app, requires "Google Play Services for AR" (ARCore)
        to be installed, as the app does not include any non-AR features. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Keep your ARCore metadata right below it -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />


    </application>

</manifest>